.Footer_Container {
    background: #090944;
    color: #ffff;
    padding: 6rem 5rem 0;
  }
  
  .Footer_Container .Footer_Wrapper {
    width: 100%;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #3a3a3a;
  }
  
  .Footer_Container .Footer_Wrapper .Left_Section {
    display: flex;
    gap: 6rem;
    align-items: flex-start;
  }
  
  .Footer_Container .Footer_Wrapper .Left_Section .Logo_Wrapper {
    display: flex;
    color: #ffff;
    align-items: end;
    gap: 0.5rem;
  }
  
  .Footer_Container .Footer_Wrapper .Left_Section .Nav_Wrapper {
    display: flex;
    gap: 6rem;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .Footer_Container .Footer_Wrapper .Left_Section .Nav_Wrapper .one_text {
    display: grid;
  }
  
  .Footer_Container .Footer_Wrapper .Left_Section .Nav_Wrapper span {
    padding-bottom: 16px;
  }
  
  .Footer_Container .Copy_Rights_Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
  }
  
  .Footer_Container .Copy_Rights_Wrapper span {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
  }
  