.Login_Container {}

.Login_Container .Login_Header {
    display: flex;
    padding: 0.4rem 8rem;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid #e7eaee;
}

.Login_Container .Login_Details_Wrapper {
    display: flex;
    padding: 0.4rem 8rem;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
}

.Login_Container .Form_Wrapper {
    width: 390px;
}

.Login_Container .Form_Wrapper .Form_Top .Heading {
    margin: 0 0 0.5rem;
}

.Login_Container .Form_Wrapper .Form_Top .Sub_Text {
    font-size: 14px;
    color: #64748b;
}

.Login_Container .Form_Wrapper .Input_Container {
    margin-top: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Login_Container .Form_Wrapper .Input_Container .Input_Wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}

.Login_Container .Form_Wrapper .Input_Container .Input_Wrapper .Eye_Icon {
    position: absolute;
    right: 10px;
    top: 2.2rem;
}

.Login_Container .Form_Wrapper .Input_Container .Input_Wrapper .Forgot_pass {
    float: right;
    color: #1d4ed8;
    font-weight: 500;
}

.Login_Container .Form_Wrapper .Input_Container .Input_Wrapper input {
    width: 380px;
    height: 38px;
    border-radius: 4px;
    border: 1px solid #64748b;
    padding-left: 10px;
}

.Login_Container .Form_Wrapper .Details_Bottom_Wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1.2rem;
}

.Login_Container .Form_Wrapper .Details_Bottom_Wrapper .Check_wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

.Login_Container .Form_Wrapper .Details_Bottom_Wrapper button {
    height: 42px;
    color: #ffff;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    background: linear-gradient(79.69deg, #1D4ED8 -0.64%, #5AD7FE 107.84%);
}

.Login_Container .Form_Wrapper .Social_Login_Container {
    margin-top: 1.5rem;
}

.Login_Container .Form_Wrapper .Social_Login_Container .Line_Wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.Login_Container .Form_Wrapper .Social_Login_Container .Line_Wrapper .Line {
    width: 80px;
    height: 1px;
    background: #4B5768;
}

.Login_Container .Form_Wrapper .Social_Login_Container .Button_Wrapper {
    margin-top: 1.4rem;
    display: flex;
    justify-content: space-between;
}

.Login_Container .Form_Wrapper .Social_Login_Container .Button_Wrapper button {
    display: flex;
    gap: 8px;
    padding: 4px 8px;
    width: 120px;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid #D0D5DD;
    border-radius: 2px;
    color: #191D23;
}

.Login_Container .Form_Wrapper .Social_Login_Container .Sign_up_text_wrapper {
    margin-top: 1.4rem;
    text-align: center;
}

.Login_Container .Form_Wrapper .Social_Login_Container .Sign_up_text_wrapper .Sign_up_text {
    color: #1D4ED8;
}
